[Unit]
Description=script to put UPS HAT in Easy Deployment Mode
Before=halt.target poweroff.target unmount.target

[Service]
User=pi
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/bin/sh -c '/usr/bin/python3 /usr/local/sbin/enter_edm.py'
TimeoutStopSec=10

[Install]
WantedBy=default.target runlevel1.target runlevel2.target runlevel3.target graphical.target halt.target poweroff.target
