[Unit]
Description=script to put UPS HAT in Easy Deployment Mode
Before=reboot.target

[Service]
User=pi
Group=pi
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/bin/sh -c '/usr/bin/python3 /usr/local/sbin/enter_edm.py'
TimeoutStopSec=10

[Install]
WantedBy=reboot.target
