[Unit]
Description=script to put UPS HAT in Easy Deployment Mode

[Service]
User=pi
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/bin/sh -c "shutdown -c && watch -n 1 '/usr/bin/python3 /usr/local/sbin/enter_edm.py'"
TimeoutStopSec=10

[Install]
WantedBy=halt.target poweroff.target
